{% extends "base.html"%}
{% load static %}


{% block extra_title %}
| New Profile
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'memberships/css/memberships.css' %}">
{% endblock %}

{% block content %}

<div class="big-title-text mt-5 text-center">
    You're In!!
</div>
<div class="container text-center">
    <hr>
    <div class="row">
        <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2">
            <div class="my-5 med-title-text">
                Congratulations {{ current_profile.first_name }}!
                <br>
            </div>
            <div class="my-5 body-text">
                You're officially in the Hurtlocker!
                <br>
                Head over to the club page to view our timetable and start booking classes
                <br>
            </div>
            <div class="my-5 med-title-text">
                <u>Subscription Details</u>: 
                <br>
            </div>
            <div class="my-5 body-text">
                Subscription id: {{ subscription }}
                <br>
                Customer id: {{ customer }}
                <br>
            </div>
            <a class="custom-btn mb-5" href="{% url 'club_page' %}" role="button">
                Club Page <i class="fa-solid fa-hand-fist"></i>
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{{ stripe_public_key|json_script:"stripe_public_key" }}
{{ client_secret|json_script:"client_secret" }}
<script src="{% static '/memberships/js/stripe_elements.js' %}"></script>
{% endblock %}