
{% extends "base.html"%}
{% load static %}


{% block extra_title %}
| New Profile
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'memberships/css/memberships.css' %}">
{% endblock %}

{% block extra_js %}
<script src="{% static '/memberships/js/memberships.js' %}"></script> 
{% endblock %}

{% block content %}

<div class="big-title-text my-5 text-center">
    Create Your Profile
</div>
<div class="container">
    <hr>
    <div class="row">
        <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2">
            <form id="edit-profile-form" class="form-text" role="form" action="{% url 'membership_signup' %}"
                method="POST">
                {% csrf_token %}
                <fieldset class="rounded px-3 mb-5">
                    <legend class="fieldset-label med-title-text px-2 w-auto">Profile Details</legend>
                    {{ form.first_name | as_crispy_field }}
                    {{ form.last_name | as_crispy_field }}
                    {{ form.bio | as_crispy_field }}
                    <hr class="my-5">
                    {{ form.image | as_crispy_field }}
                </fieldset>
                <hr class="my-3">
                <fieldset class="rounded px-3 mb-5">
                    <legend class="fieldset-label med-title-text px-2 w-auto">Membership Options</legend>
                    {{ form.membership | as_crispy_field }}
                    {{ form.activities | as_crispy_field }}
                </fieldset>
                <hr class="my-3">
                <fieldset class="rounded px-3 mb-5">
                    <legend class="fieldset-label med-title-text px-2 w-auto">Billing Details</legend>
                    {{ form.first_name  | as_crispy_field }}
                    {{ form.last_name  | as_crispy_field }}
                    {{ form.email  | as_crispy_field }}
                    {{ form.street_address1  | as_crispy_field }}
                    {{ form.street_address2  | as_crispy_field }}
                    {{ form.city  | as_crispy_field }}
                    {{ form.county  | as_crispy_field }}
                    {{ form.postcode  | as_crispy_field }}
                </fieldset>
                <hr>
                <fieldset class="rounded px-3">
                    <legend class="fieldset-label med-title-text px-2 w-auto">Payment</legend>
                    <hr>
                    <div id="button-container" class="form-row justify-content-center">
                        <div class="form-group mt-3 col-sm-6">
                            <button class="custom-btn form-control" id="save-profile" type="submit">
                                Save <i class="far fa-save"></i>
                            </button>
                        </div>
                    </div>
                </fieldset>
            </form>
            <div class="mb-5 text-center">
                <a class="custom-btn" href="{% url 'memberships' %}" role="button" data-ripple-color="primary">
                    Go Back <i class="fas fa-undo-alt"></i>
                </a>
            </div>
        </div>
    </div>
    <!DOCTYPE html>
<html>
  <head>
    <title>Subscribe to a cool new product</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
  </head>
  <body>
    <section>
      <div class="product">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="14px" height="16px" viewBox="0 0 14 16" version="1.1">
            <defs/>
            <g id="Flow" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="0-Default" transform="translate(-121.000000, -40.000000)" fill="#E184DF">
                    <path d="M127,50 L126,50 C123.238576,50 121,47.7614237 121,45 C121,42.2385763 123.238576,40 126,40 L135,40 L135,56 L133,56 L133,42 L129,42 L129,56 L127,56 L127,50 Z M127,48 L127,42 L126,42 C124.343146,42 123,43.3431458 123,45 C123,46.6568542 124.343146,48 126,48 L127,48 Z" id="Pilcrow"/>
                </g>
            </g>
        </svg>
        <div class="description">
          <h3>Starter plan</h3>
          <h5>$20.00 / month</h5>
        </div>
      </div>
      <form action="/create-checkout-session" method="POST">
        <!-- Add a hidden field with the lookup_key of your Price -->
        <input type="hidden" name="lookup_key" value="{{PRICE_LOOKUP_KEY}}" />
        <button id="checkout-and-portal-button" type="submit">Checkout</button>
      </form>
    </section>
  </body>
</html>
</div>
{% endblock %}
