
{% extends "base.html"%}
{% load static %}


{% block extra_title %}
| New Profile
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'memberships/css/memberships.css' %}">
{% endblock %}

{% block content %}

<div class="big-title-text my-5 text-center">
    Subscribe
</div>
<div class="container">
    <hr>
    <div class="row">
        <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2">
            <form id="edit-profile-form" class="form-text" role="form" action="{% url 'checkout' %}"
                method="POST">
                {% csrf_token %}
                <fieldset class="rounded px-3">
                    <legend class="fieldset-label med-title-text px-2 w-auto">Payment</legend>
                    <div id="payment-details" class="mt-5">
                        <!-- Elements will create input elements here -->
                    </div>
                    <div id="card-input-errors" class="card-errors mb-5" role="alert">
                        <!-- Used to display form errors -->
                    </div>
                    <hr>
                </fieldset>
                <div id="button-container" class="form-row justify-content-center">
                    <div class="form-group mt-3 col-sm-6">
                        <button class="custom-btn form-control" id="save-profile" type="submit">
                            Subscribe <i class="fa-solid fa-paper-plane"></i>
                        </button>
                    </div>
                </div>
            </form>
            <div class="mb-5 text-center">
                <a class="custom-btn" href="{% url 'membership_signup' %}" role="button">
                    Go Back <i class="fas fa-undo-alt"></i>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"stripe_public_key" }}
    {{ client_secret|json_script:"client_secret" }}
    <script src="{% static '/memberships/js/stripe_elements.js' %}"></script> 
{% endblock %}