{% extends "base.html"%}
{% block content %}

<div class="container text-center">
    <div class="card card-bg my-5">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img class="img-responsive w-100 my-5" src="{{ current_membership.image.url }}" alt="Membership Image">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <div class="big-title-text">{{ current_membership.name }}</div>
                    <div class="body-text"> <strong>Who's it for and what's included?</strong></div>
                    <div class="body-text">{{ current_membership.description }}</div>
                </div>
            </div>
        </div>
        <div class="p-2">
            <a class="custom-btn m-0" href="{% url 'account_signup' %}" role="button"
                data-ripple-color="primary">Sign Up <small><i class="fas fa-angle-double-right"></i></small></a>
        </div>
    </div>
</div>
{% endblock %}