{% extends "base.html"%}
{% block content %}

<div class="container text-center">
    <div class="card card-bg my-5">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img class="img-responsive w-100 my-5" src="{{ current_membership.image.url }}" alt="Membership Image">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <div class="big-title-text">{{ current_membership.name }}</div>
                    <p class="body-text"> <strong>Who's it for and what's included?</strong></p>
                    <p class="body-text">{{ current_membership.description }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}