{% extends 'base.html' %}
{% load static %}
{% block content %}

<section>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-xl-8 text-center text-warning">
                <div class="mt-1">
                    <div class="big-title-text">
                        <p>Hurtlocker Sports and Fitness</p>
                    </div>
                    <p class="d-none d-lg-block med-title-text">The Home of Performance Excellence</p>
                    <div class="body-text">
                        <p>We cater for all those wishing to train in martial arts, yoga
                            and triathlon.</p>
                        <p>With little kids as young as 5, to big kids over 50!!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center text-center mt-1">
                <a href="{% url 'club_page' %}" class="custom-btn">View the Club Page</a>
        </div>
        <div class="row justify-content-center text-center my-2">
                <a href="{% url 'memberships' %}" class="custom-btn">Sign Up<small><i class="fa-solid fa-angles-right"></i></small></a>
        </div>
    </div>
</section>

{% endblock %}