{% extends 'base.html' %}

{% block content %}

<section class="container-fluid callout-background text center">

    <div class="text-center">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12 mt-3 text-center"><h4>Hurtlocker AC</h4>
                    </div>
                </div>                                          
                <div class="row text-center">
                    <div class="col-12">Book classes for many different activities</div>                               
                </div>
                <a href="#" class="button">Sign Up
                </a>                                    
            </div>
        </div>
    </div>


</section>

{% endblock %}