{% extends "base.html"%}
{% load static %}
{% block content %}

<div class="big-title-text text-center">Profiles</div>
<div class="container fluid">
    <hr>
    <div class="row">
        {% for profile in profile_list %}
        <div class="col-xl-4 col-md-6 col-xs-12 my-5">
            <div class="card h-100 text-center card-bg">
                <div class="card-title med-title-text">
                    <a href="{% url 'profile_page' profile.id %}">{{ profile.first_name }} {{ profile.last_name }}</a>
                </div>
                <img class="card-img-top" src="{{ profile.image.url }}" alt="Card image cap">
                <div class="card-body">
                    <div class="med-title-text">
                        {{ profile.membership }}
                    </div>
                </div>
                <div>
                    <a class="custom-btn m-0" href="{% url 'profile_page' profile.id %}" role="button"
                        data-ripple-color="primary">View Profile</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}