{% extends "base.html"%}
{% load static %}

{% block extra_title %}
| Editing {{ current_profile }}'s Profile
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block content %}

<h1 class=" text-center">
    {{ current_profile.first_name }} {{ current_profile.last_name }}
    <hr>
</h1>
<div class="container">
    <h2 class="  text-center mb-2">
        <u>Username</u>:<span> <h3>{{ current_profile.user }}</h3></span>
    </h2>
    <h2 class="text-center my-3">
        <u>Subscribed</u>: <span><h3>{{ current_profile.is_subscribed }}</h3></span>
    </h2>
    <hr>
    <div class="row mt-5">
        <div class="col-lg-8 offset-lg-2">
            <form id="edit-profile-form" class="form-text" role="form"
                action="{% url 'edit_profile' current_profile.id %}" enctype="multipart/form-data" method="POST">
                {% csrf_token %}
                <fieldset class="rounded px-3 mb-5">
                    <legend class="fieldset-label med-title-text px-2 w-auto"><u>Profile Details</u></legend>
                    {% for field in form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                </fieldset>
                <hr class="my-3">
                <div id="button-container" class="form-row justify-content-center">
                    <div class="form-group mt-3 col-sm-6">
                        <button class="custom-btn form-control" id="save-profile"
                            type="submit">Save <i class="far fa-save"></i>
                        </button>
                    </div>
                </div>
            </form>
            <div class="mb-5 text-center">
                <a class="custom-btn" href="{% url 'profile_page' current_profile.id %}" role="button" data-ripple-color="primary">
                    Go Back <i class="fas fa-undo-alt"></i>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
{% endblock %}