{% extends "base.html"%}
{% load static %}

{% block extra_title %}
| Editing {{ current_profile }}'s Profile
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block content %}

<div class="big-title-text mt-5 text-center">
    {{ current_profile.first_name }} {{ current_profile.last_name }}
    <hr>
</div>
<div class="container">
    <div class="med-title-text  text-center mb-2">
        <u>Username</u>:<span class="answer-title-text"> {{ current_profile.user }}</span>
    </div>
    <div class="text-center med-title-text my-3">
        <u>Subscribed: </u><span class="answer-title-text">{{ current_profile.is_subscribed }}</span>
    </div>
    <hr>
    <div class="row mt-5">
        <div class="col-lg-8 offset-lg-2">
            <form id="edit-profile-form" class="form-text" role="form"
                action="{% url 'edit_profile' current_profile.id %}" method="POST">
                {% csrf_token %}
                <fieldset class="rounded px-3 mb-5">
                    <legend class="fieldset-label med-title-text px-2 w-auto"><u>Profile Details</u></legend>
                    {{ form.first_name | as_crispy_field }}
                    {{ form.last_name | as_crispy_field }}
                    {{ form.bio | as_crispy_field }}
                    <hr class="my-5">
                    {{ form.image }}
                </fieldset>
                <hr class="my-3">
                <fieldset class="rounded px-3 mb-5">
                    <legend class="fieldset-label med-title-text px-2 w-auto"><u>Billing Details</u></legend>
                    {{ form.email  | as_crispy_field }}
                    {{ form.phone_number  | as_crispy_field }}
                    {{ form.street_address1  | as_crispy_field }}
                    {{ form.street_address2  | as_crispy_field }}
                    {{ form.city  | as_crispy_field }}
                    {{ form.county  | as_crispy_field }}
                    {{ form.postcode  | as_crispy_field }}
                </fieldset>
                <div id="button-container" class="form-row justify-content-center">
                    <div class="form-group mt-3 col-sm-6">
                        <button class="custom-btn form-control" id="save-profile"
                            type="submit">Save <i class="far fa-save"></i>
                        </button>
                    </div>
                </div>
            </form>
            <div class="mb-5 text-center">
                <a class="custom-btn" href="{% url 'profile_page' current_profile.id %}" role="button" data-ripple-color="primary">
                    Go Back <i class="fas fa-undo-alt"></i>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}