
.custom-images {
    border-radius: 20px;
    box-shadow: inset 0 0 10px;
}

#edit-profile-form input::placeholder {
    color: rgb(193, 193, 193);
}

#edit-profile-form input::form-control {
    color: rgb(0, 0, 0);
}
