html {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

body {
    background: url("/media/hero_hurtlocker.jpg") center center fixed;
    background-size: cover !important;
    padding-top: 120px;
}

.navbar {
    position: fixed;
    background-image: linear-gradient(15deg, rgb(0, 0, 0) 0%, rgba(187, 0, 0, 0.69) 100%);
    top: 0;
    width: 100%;
    margin-bottom: 20px;
    z-index: 9999999999;
}

.navbar-toggler-icon {
    color: rgb(0, 0, 0)!important;
}

.navbar-brand {
    font-family: 'Righteous', cursive;
    color: rgb(224, 142, 0) !important;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.69);
}

.nav-link {
    font-family: 'Righteous', cursive;
    font-size: 1.2rem;
    color: rgb(224, 142, 0) !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.69);
}

.nav-link:hover {
    color: rgb(187, 0, 0) !important;
    text-shadow: 0 0 20px rgb(0, 0, 0), 0 0 30px rgb(0, 0, 0), 0 0 40px rgb(0, 0, 0), 0 0 50px rgb(0, 0, 0), 0 0 70px rgb(0, 0, 0), 0 0 80px rgb(0, 0, 0);
}

a {
    color: inherit;
}

button.custom-btn,
input.custom-btn {
    background-color: rgba(0, 0, 0, 0) !important;
    border: none;
}

a:hover {
    color: rgb(224, 142, 0);
    text-decoration: none;
    cursor: pointer;
}

.big-title-text {
    font-family: 'Righteous', cursive;
    font-size: 5rem;
    color: rgb(224, 142, 0);
    text-shadow: 6px 6px 5px rgba(0, 0, 0, 0.69);
}

.med-title-text {
    font-family: 'Righteous', cursive;
    font-size: 2rem;
    color: rgb(187, 0, 0);
    text-shadow: 6px 6px 5px rgba(0, 0, 0, 0.69);
}

h1 {
    font-family: 'Righteous', cursive;
    font-size: 5rem;
    color: rgb(224, 142, 0);
    text-shadow: 6px 6px 5px rgba(0, 0, 0, 0.69);
}

h2 {
    font-family: 'Righteous', cursive;
    font-size: 2rem;
    color: rgb(187, 0, 0);
    text-shadow: 6px 6px 5px rgba(0, 0, 0, 0.69);
}

.answer-title-text {
    font-family: 'Righteous', cursive;
    font-size: 1.5rem;
    color: rgb(224, 142, 0);
    text-shadow: 6px 6px 5px rgba(0, 0, 0, 0.69);
}

h3 {
    font-family: 'Righteous', cursive;
    font-size: 2rem;
    color: rgb(224, 142, 0);
    text-shadow: 6px 6px 5px rgba(0, 0, 0, 0.69);
}

h4 {
    font-family: 'Righteous', cursive;
    font-size: 1.25rem;
    color: rgb(224, 142, 0);
    text-shadow: 6px 6px 5px rgba(0, 0, 0, 0.69);
}

.body-text {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
}

p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
    color: rgb(255, 255, 255);
}

.custom-btn {
    font-family: 'Righteous', cursive;
    font-size: 2rem;
    color: rgb(224, 142, 0);
    text-shadow: 6px 6px 5px rgba(0, 0, 0, 0.69);
    padding: 5px;
}

.custom-btn:hover {
    color: rgb(187, 0, 0);
    text-shadow: 6px 6px 5px rgba(0, 0, 0, 0.69);
}

.custom-slot-btn {
    font-family: 'Righteous', cursive;
    font-size: 1rem;
    color: rgb(224, 142, 0);
    text-shadow: 6px 6px 5px rgba(0, 0, 0, 0.69);
    border-radius: 5px;
    padding: 5px;
}

.custom-slot-btn:hover {
    color: rgb(187, 0, 0);
    text-shadow: 6px 6px 5px rgba(0, 0, 0, 0.69);
}

hr {
    background: radial-gradient(rgba(187, 0, 0, 1), rgba(224, 142, 0, 0));
    height: 2px;
}

.card-bg {
    background: rgba(0, 0, 0);
    border-radius: 10px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 0px, rgba(255, 255, 255, 0.1) 0px 8px 24px, rgba(178, 178, 255, 0.1) 0px 16px 48px;
}

.timetable-card {
    background: rgb(26, 26, 26);
    border-radius: 5px;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 50px 100px -20px, rgba(255, 255, 255, 0.25) 0px 30px 60px -30px, rgba(255, 255, 255, 0.25) 0px -2px 6px 0px inset;
}

.custom-images {
    padding: 5px;
    vertical-align: middle;
    border-style: none;
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.club-activity-image {
    padding: 5px;
    vertical-align: middle;
    border-style: none;
    width: 90%;
    margin-left: 5%;
    height: 250px;
    object-fit: cover;
    border-radius: 5%;
}

.social-link {
    color: rgb(224, 142, 0) !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.69);
}

.social-link:hover {
    text-shadow: 1px 1px 1px rgba(224, 142, 0, 0.7);
}

.form-text {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
    color: rgb(255, 255, 255);
}

.message-container {
    font-family: 'Righteous', cursive;
    font-size: 1.5rem;
    top: 90px;
    right: 10px;
    position: fixed;
    z-index: 99999999999;
    background-color: rgb(31, 31, 31);
    color:rgb(224, 142, 0);
    border-color: rgb(187, 0, 0);
    border-width: 2px;
    border-radius: 5px;
}

.toast-container {
    background-color: rgba(31, 31, 31);
    color:rgb(224, 142, 0);
    font-size: 1.5rem;
}

.toast-header {
    background-color: rgba(31, 31, 31);
    color: rgb(187, 0, 0);
    font-size: 2rem;
}

.close {
    color: rgb(187, 0, 0);
    opacity: 1;
    font-size: 2.5rem;
}

.close:hover {
    color: rgb(224, 142, 0);
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-color: rgb(187, 0, 0);
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: rgb(187, 0, 0);
    border-color: rgb(187, 0, 0);
}

.custom-image-btn {
    font-family: 'Righteous', cursive;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, 0.87);
    border-color: rgb(187, 0, 0);
    border-radius: 5px;
    color: rgb(224, 142, 0);
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.69);
}

.custom-image-btn:hover {
    color: rgb(187, 0, 0);
    border-color: rgb(224, 142, 0);
}

/* All Auth Forms styling */

label.form-check-label {
    font-size: 1rem;
}

label.requiredField {
    font-size: 1rem;
}

.form-control {
    border: 2px solid rgb(187, 0, 0);
}

#id_login input::placeholder {
    font-size: 1rem;
}

@media only screen and (max-width: 1200px) {
    .body-text {
        font-size: 1rem;
    }
 }

@media only screen and (max-width: 900px) {
    .answer-title-text {
        font-size:calc(12px + 1.5vw);
    }
 }