html {
    height: 100%;
}

body {
    background: url("/media/hero_hurtlocker.jpg") center center fixed;
    background-size: cover !important;
}

.navbar-brand {
    font-family: 'Righteous', cursive;
    color: rgb(224, 142, 0) !important;
    text-shadow: 6px 6px 5px rgba(0, 0, 0, 0.69);
}

.nav-link {
    font-family: 'Righteous', cursive;
    color: rgb(224, 142, 0) !important;
    text-shadow: 6px 6px 5px rgba(0, 0, 0, 0.69);
}

.nav-link:hover {
    color: rgb(187, 0, 0) !important;
  }

.big-title-text {
    font-family: 'Righteous', cursive;
    font-size: 5rem;
    color: rgb(224, 142, 0);
    text-shadow: 6px 6px 5px rgba(0, 0, 0, 0.69);
}

a { 
    color: inherit; 
}

a:hover {
    color:rgb(224, 142, 0); 
    text-decoration:none; 
    cursor:pointer;  
}

.med-title-text {
    font-family: 'Righteous', cursive;
    font-size: 3rem;
    color: rgb(187, 0, 0);
    text-shadow: 6px 6px 5px rgba(0, 0, 0, 0.69);
}

.body-text {
    font-family: 'Roboto Condensed', sans-serif;    
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
}

.custom-btn {
    font-family: 'Righteous', cursive;
    font-size: 2.5rem;
    color: rgb(224, 142, 0);
    text-shadow: 6px 6px 5px rgba(0, 0, 0, 0.69);
    border-radius: 5px;
    padding: 5px;
}

.custom-btn:hover {
    color: rgb(187, 0, 0);
    text-shadow: 6px 6px 5px rgba(0, 0, 0, 0.69);
}

.card-bg {
    background: rgba(0, 0, 0, 0.441);
    border-radius: 10px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 0px, rgba(255, 255, 255, 0.1) 0px 8px 24px, rgba(178, 178, 255, 0.1) 0px 16px 48px;
}

.social-link {
    color: rgb(224, 142, 0) !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.69);
}

.social-link:hover {
    text-shadow: 1px 1px 1px rgba(224, 142, 0, 0.7);
}