
.custom-slot-btn {
    font-family: 'Righteous', cursive;
    font-size: 1rem;
    color: rgb(224, 142, 0);
    text-shadow: 6px 6px 5px rgba(0, 0, 0, 0.69);
    border-radius: 5px;
    padding: 5px;
}