<div class="text-center text-white bg-secondary mb-0">
    
        <section class="text-center p-2">
            <a href="#" class=" mx-3 text-dark text-decoration-none">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" class=" mx-3 text-dark text-decoration-none">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class=" mx-3 text-dark text-decoration-none">
                <i class="fab fa-google"></i>
            </a>
            <a href="#" class=" mx-3 text-dark text-decoration-none">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="#" class=" mx-3 text-dark text-decoration-none">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="#" class=" mx-3 text-dark text-decoration-none">
                <i class="fab fa-github"></i>
            </a>
        </section>
    
        <div id="copyright" class="text-center bg-dark p-1">
            © 2022 Copyright:
            <a class="text-white font-italic" href="https://github.com/hjtb" target="blank"><strong>Will Holton</strong></a>
        </div>
    </div>
