{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block inner_content %}
<h1 class="my-5">{% trans "Confirm E-mail Address" %}</h1>
{% if confirmation %}

{% user_display confirmation.email_address.user as user_display %}

<h2>{% blocktrans with confirmation.email_address.email as email %}Please confirm that <u><a href="mailto:{{ email }}">{{ email }}</a></u> is an e-mail address for user <u>{{ user_display }}</u>.{% endblocktrans %}</h2>

<form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
{% csrf_token %}
    <button class="custom-btn" type="submit">{% trans 'Confirm' %}</button>
</form>

{% else %}

{% url 'account_email' as email_url %}

<p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <u><a href="{{ email_url }}"></u>issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>

{% endif %}

{% endblock %}
