{% extends "base.html"%}
{% load static %}

{% block extra_title %}
| {{ current_activity }}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'activities/css/activities.css' %}">
{% endblock %}

{% block content %}

<div class="container">
    <div class="big-title-text mt-5  text-center">
        {{ current_activity.activity_name }}
    </div>
    <hr>
    <div class="p-2 text-center">
        <a class="custom-btn m-0" href="{% url 'edit_activity' current_activity.id %}" role="button"
            data-ripple-color="primary">
            Edit Activity <i class="fas fa-user-edit"></i>
        </a>
    </div>
    <div class="card card-bg my-5">
        <div class="row no-gutters">
            <div class="col-lg-4 offset-lg-0 col-sm-8 offset-sm-2 col-10 offset-1 p-2">
                {% if current_activity.image %}
                <img class="img-fluid custom-images" src="{{ current_activity.image.url }}" alt="Acivity Image">
                {% else %}
                <img class="card-img-top" src="https://via.placeholder.com/640x960.png?text={{ activity.name }}" alt="Acivity Image">
                {% endif %}
            </div>
            <div class="col-lg-8 col-12">
                <div class="card-body m-2">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-0 col-10 offset-1">
                            <div class="med-title-text mb-3">
                                <u>Session Limit</u>: 
                                <span class="answer-title-text mb-3">
                                    {{ current_activity.booking_slot_limit }}
                                </span>
                            </div>
                            <div class="med-title-text mb-3"><u>Description</u>: 
                                <br>
                                <span class="body-text">{{ current_activity.description }}</span>
                            </div>
                        </div>
                        <div class="col-lg-6 offset-lg-0 col-10 offset-1">
                            <div class="med-title-text"><u>Sessions</u>:</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
