{% extends "base.html"%}
{% load static %}

{% block extra_title %}
| {{ current_activity }}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'activities/css/activities.css' %}">
{% endblock %}

{% block content %}

<div class="container">
    <h1 class="text-center">
        {{ current_activity.activity_name }}
    </h1>
    <hr>
    {% if current_user.is_staff %}
        <div class="p-2 text-center">
            <a class="custom-btn m-0" href="{% url 'edit_activity' current_activity.id %}" role="button"
                data-ripple-color="primary">
                Edit Activity <i class="fas fa-user-edit"></i>
            </a>
        </div>
        <div class="p-2 text-center">
            <a class="custom-btn m-0" href="{% url 'delete_activity' current_activity.id %}" role="button"
                data-ripple-color="primary">
                Delete Activity <i class="fas fa-user-edit"></i>
            </a>
        </div>
    {% endif %}
    <div class="card card-bg my-5">
        <div class="row no-gutters">
            <div class="col-lg-4 offset-lg-0 col-sm-8 offset-sm-2 col-10 offset-1 p-2">
                {% if current_activity.image %}
                <img class="custom-images" src="{{ current_activity.image.url }}" alt="Activity Image">
                {% else %}
                <img class="custom-images" src="https://via.placeholder.com/640x960.png?text={{ activity.name }}" alt="Acivity Image">
                {% endif %}
            </div>
            <div class="col-lg-8 col-12">
                <div class="card-body m-2">
                    <div class="row">
                        <div class="col-lg-10 offset-lg-0 col-10 offset-1">
                            <h2 class="text-center mb-3">
                                <u>Description</u>: 
                            </h2>
                            <p class="m-3">
                                {{ current_activity.description }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 p-3 text-center">
                <hr>
                <h2 class="my-5"><u>Sessions</u>:</h2>
                <table class="table table-sm">
                    <thead class=" body-text">
                        <tr>
                            <th scope="col">Day</th>
                            <th scope="col">Date</th>
                            <th scope="col">Start/Finish</th>
                            <th scope="col">Book</th>
                        </tr>
                    </thead>
                    <tbody class=" body-text mb-2">
                        {% for slot in booking_slots %}
                        <tr>
                            <th>{{ slot.get_day_display }}</th>
                            <td>{{ slot.end_datetime|date:'d/m' }}</td>
                            <td>{{ slot.start_hour }} - {{ slot.end_datetime.time }}</td>
                            <td>
                                {% if slot.id in slots_already_used %}
                                    <i class="fa-solid fa-square-check text-success"></i>
                                {% else %}
                                    <a class="custom-slot-btn m-0" href="{% url 'create_booking' slot.id %}" role="button"
                                    data-ripple-color="primary"><i class="fa-solid fa-calendar-check"></i>
                                    </a>
                                {% endif %} 
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
