{% extends "base.html"%}
{% load static %}

{% block extra_title %}
| {{ current_activity }}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'activities/css/activities.css' %}">
{% endblock %}

{% block content %}

<div class="container">
    <div class="big-title-text mt-5  text-center">
        {{ current_activity.activity_name }}
    </div>
    <hr>
    <div class="p-2 text-center">
        <a class="custom-btn m-0" href="{% url 'edit_activity' current_activity.id %}" role="button"
            data-ripple-color="primary">
            Edit Activity <i class="fas fa-user-edit"></i>
        </a>
    </div>
    <div class="card card-bg my-5">
        <div class="row no-gutters">
            <div class="col-lg-4 offset-lg-0 col-sm-8 offset-sm-2 col-10 offset-1 p-2">
                {% if current_activity.image %}
                <img class="img-fluid custom-images" src="{{ current_activity.image.url }}" alt="Acivity Image">
                {% else %}
                <img class="card-img-top" src="https://via.placeholder.com/640x960.png?text={{ activity.name }}" alt="Acivity Image">
                {% endif %}
            </div>
            <div class="col-lg-8 col-12">
                <div class="card-body m-2">
                    <div class="row">
                        <div class="col-lg-10 offset-lg-0 col-10 offset-1">
                            <div class="med-title-text text-center mb-3">
                                <u>Description</u>: 
                            </div>
                            <div class="body-text m-3">
                                {{ current_activity.description }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 p-3 text-center">
                <hr>
                <div class="med-title-text my-5"><u>Sessions</u>:</div>
                <table class="table table-borderless table-sm body-text">
                    <thead>
                        <tr>
                            <th scope="col">Day</th>
                            <th scope="col">Date</th>
                            <th scope="col">Start/Finish</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody class="mb-2">
                        {% for slot in booking_slots %}
                        <tr>
                            <td>{{ slot.get_day_display }}</td>
                            <th scope="row">{{ slot.end_datetime|date:'d/m' }}</th>
                            <td>{{ slot.start_hour }} - {{ slot.end_datetime.time }}</td>
                            <td>
                                <a class="custom-slot-btn m-0" href="{% url 'create_booking' slot.id %}" role="button"
                                data-ripple-color="primary">
                                <p class="d-none d-sm-inline">Book </p><i class="fa-solid fa-calendar-check"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
