{% extends "base.html"%}
{% load static %}

{% block extra_title %}
| Adding Activity
{% endblock %}

{% block content %}

<div class="big-title-text mt-5 text-center">
    New Activity
</div>
<div class="container">
    <hr>
    <div class="row mt-5">
        <div class="col-lg-8 offset-lg-2">
            <form id="add-activity-form" class="form-text" role="form"
                action="{% url 'add_activity' %}" method="POST">
                {% csrf_token %}
                <fieldset class="rounded px-3 mb-5">
                    <legend class="fieldset-label med-title-text px-2 w-auto"><u>Activity Details</u></legend>
                    {{ form.activity_name | as_crispy_field }}
                    {{ form.description | as_crispy_field }}
                    <hr class="my-5">
                    <div class="row text-center">
                        <div class="col-8 offset-2 col-md-6 offset-md-0">
                            {{ form.image | as_crispy_field  }}
                        </div>
                        <div class="col-6 offset-3 col-md-3 offset-md-0">
                            {{ form.booking_slot_limit  | as_crispy_field }}
                        </div>
                    </div>
                </fieldset>
                <hr class="my-3">
                <div id="button-container" class="form-row justify-content-center">
                    <div class="form-group mt-3 col-sm-6">
                        <button class="custom-btn form-control" id="save-activity"
                            type="submit">Save <i class="far fa-save"></i>
                        </button>
                    </div>
                </div>
            </form>
            <div class="mb-5 text-center">
                <a class="custom-btn" href="{% url 'activities' %}" role="button" data-ripple-color="primary">
                    Go Back <i class="fas fa-undo-alt"></i>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}