{% extends "base.html"%}
{% load static %}
{% block content %}

<h1 class="text-center">Activities</h1>
<div class="container fluid">
    <hr>
    {% if current_user.is_staff %}
    <div class="p-2 text-center">
        <a class="custom-btn m-0" href="{% url 'add_activity' %}" role="button"
            data-ripple-color="primary">
            Add Activity <i class="fa-solid fa-pen-to-square"></i>
        </a>
    </div>
    {% endif %}
    <div class="row">
        {% for activity in activity_list %}
        <div class="col-xl-4 col-md-6 col-xs-12 my-5">
            <div class="card h-100 text-center custom-card p-3">
                <h2 class="card-title">
                    <a href="{% url 'activity_page' activity.id %}">{{ activity.activity_name }}</a>
                </h2>
                {% if activity.image %}
                <img class="custom-images" src="{{ activity.image.url }}" alt="Activity Image">
                {% else %}
                <img class="custom-images" src="https://via.placeholder.com/640x960.png?text={{ activity.name }}" alt="Activity Image">
                {% endif %}
                <div>
                    <a class="custom-btn m-0" href="{% url 'activity_page' activity.id %}" role="button"
                        data-ripple-color="primary">View Activity</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}