{% extends "base.html"%}
{% load static %}
{% block content %}

<div class="big-title-text text-center">Activities</div>
<div class="container fluid">
    <hr>
    <div class="row">
        {% for activity in activity_list %}
        <div class="col-xl-4 col-md-6 col-xs-12 my-5">
            <div class="card h-100 text-center card-bg">
                <div class="card-title med-title-text">
                    <a href="{% url 'activity_page' activity.id %}">{{ activity.name }}</a>
                </div>
                {% if activity.image %}
                <img class="card-img-top" src="{{ activity.image.url }}" alt="Activity Image">
                {% else %}
                <img class="card-img-top" src="https://via.placeholder.com/640x960.png?text={{ activity.name }}" alt="Activity Image">
                {% endif %}
                <div class="card-body">
                    <div class="med-title-text">
                        <u>Subscribed</u>:
                    </div>
                    <div class="answer-title-text">
                        <!-- {{ profile.is_subscribed }} -->
                    </div>
                </div>
                <hr>
                <div>
                    <a class="custom-btn m-0" href="{% url 'activity_page' activity.id %}" role="button"
                        data-ripple-color="primary">View Activity</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}