{% extends "base.html"%}
{% block content %}

<div class="container text-center">
    <h1 class="mt-1">Hurtlocker</h1>
    <div class="row">
        <div class="col-sm-4">
            <h1>Profiles</h1>
            <div>
                {% for profile in profiles %}
                    <div>
                        <h2>
                            {{ profile.id }}
                        </h2>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-4">
            <h1>Activities</h1>
            <h2>Activity 1</h2>
            <h5>Instructor</h5>
            <br />

            <h2>Activity 2</h2>
            <h5>Instructor</h5>
        </div>
    </div>
</div>

{% endblock %}