<footer class="text-center text-white">
    <div class="text-center bg-secondary mb-0">
      
          <section class="mt-5">
              <div class="row text-center d-flex justify-content-center pt-3">
      
              <div class="col-md-2">
                  <h6 class="text-uppercase font-weight-bold">
                  <a href="#!" class="text-light">About us</a>
                  </h6>
              </div>
      
              <div class="col-md-2">
                  <h6 class="text-uppercase font-weight-bold">
                  <a href="#!" class="text-light">Products</a>
                  </h6>
              </div>
      
              <div class="col-md-2">
                  <h6 class="text-uppercase font-weight-bold">
                  <a href="#!" class="text-light">Help</a>
                  </h6>
              </div>
      
              <div class="col-md-2">
                  <h6 class="text-uppercase font-weight-bold">
                  <a href="#!" class="text-light">Contact</a>
                  </h6>
              </div>
          </section>
      
      
      
          <section class="text-center my-2">
              <a href="#" class=" mx-3 text-white text-decoration-none">
                  <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#" class=" mx-3 text-white text-decoration-none">
                  <i class="fab fa-twitter"></i>
              </a>
              <a href="#" class=" mx-3 text-white text-decoration-none">
                  <i class="fab fa-google"></i>
              </a>
              <a href="#" class=" mx-3 text-white text-decoration-none">
                  <i class="fab fa-instagram"></i>
              </a>
              <a href="#" class=" mx-3 text-white text-decoration-none">
                  <i class="fab fa-linkedin"></i>
              </a>
              <a href="#" class=" mx-3 text-white text-decoration-none">
                  <i class="fab fa-github"></i>
              </a>
          </section>
      
      
      
      
          <div id="copyright" class="text-center bg-dark p-3">
              © 2022 Copyright:
              <a class="text-white font-italic" href="https://github.com/hjtb" target="blank"><strong>Will Holton</strong></a>
          </div>
      
      </div>
  </footer>