.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 2px solid;
  border-color: rgb(187, 0, 0);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.63);
  box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px, rgba(255, 255, 255, 0.12) 0px -12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px, rgba(255, 255, 255, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
}

.StripeElement--webkit-autofill {
    border: 2px solid;
    border-color: rgb(0, 0, 0);
    background-color: rgb(238, 238, 238) !important;
}

.StripeElement--complete {
    border-color: rgb(0, 255, 42) !important;
}

.card-errors {
    font-family: 'Righteous', cursive;
    font-size: 1rem;
    color: rgb(187, 0, 0);
    text-shadow: 6px 6px 5px rgba(0, 0, 0, 0.69);
}