{% extends "base.html"%}
{% block content %}

<div class="container text-center text-white">
    <div class="my-5 big-title-text">
        Hurtlocker
    </div>
    <div class="row mt-5 text-center">
        <div class="col-lg-8 offset-lg-2">
            <div class="body-text">
                <p class="med-title-text">About</p>
                <p class="body-text">
                    The Hurtlocker Training System is a unique approach to martial arts and triathlon.
                    To make sure all Hurtlocker affiliates are moving in the same direction together,
                    we suggest a balanced combination of programs, with a mix of both soft and hard activities.
                    There are 8 activities, we suggest a mix cardio and combat activities to work on both fitness and
                    technique.
                    Members are free to choose whichever activities they wish and can train for purely combat or
                    fitness. Our instructors are the best in the business, they will build you up by putting you in the Hurtlocker.
                </p>
            </div>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-lg-6 my-5">
            <div class="med-title-text">
                Activities
            </div>
            {% if activity_list|length > 0 %}
            <div class="card card-bg">
                <div>
                    {% for activity in activity_list %}
                    <div class="body-text">
                        <strong>{{ activity.activity_name }}</strong>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
        <div class="col-lg-6 my-5">
            <div class="med-title-text">
                Instructors
            </div>
            <div class="card card-bg">
                <div>
                    {% for profile in profile_list %}
                    <div class="body-text">
                        <strong>
                            {% if profile.user.is_staff %}
                                {{ profile.first_name }} {{ profile.last_name }}
                            {% endif %}
                        </strong>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% if user.is_authenticated %}
    <div class="p-2">
        <a class="custom-btn m-0" href="{% url 'profile_page' current_profile.id %}" role="button" data-ripple-color="primary">
            View Your Profile <i class="fa-solid fa-user"></i>
        </a>
    </div>
    {% endif %}
    <div class="row my-5">
        <div class="col-12 my-5">
            <div class="med-title-text">
                Activity Timetable
            </div>
            <div class="card-bg table-responsive my-2">
                <table class="table table-sm table-striped table-dark table-bordered table-hover m-0">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Activity</th>
                            <th scope="col">Session 1</th>
                            <th scope="col">Session 2</th>
                            <th scope="col">Session 3</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for activity in activity_list %}
                        <tr>
                            <th scope="row">{{ activity.activity_name }}</th>
                            <td><strong>Tue:</strong> 0700-0800</td>
                            <td><strong>Thur:</strong> 1900-2000</td>
                            <td><strong>Sat:</strong> 2000-2100</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}