{% extends "base.html"%}
{% block content %}

<div class="container text-center text-white">
    <h1 class="my-5">
        Hurtlocker
    </h1>
    <div class="row mt-5 text-center">
        <div class="col-lg-8 offset-lg-2">
            <div >
                <h2>About</h2>
                <div class="card h-100 text-center custom-card p-3">
                    <p>
                        The Hurtlocker Training System is a unique approach to martial arts.
                        Our instructors are the best in the business, they will build you up by putting you in the Hurtlocker.
                        Whether you wish to train as a striker, grappler or as an all-rounder, we've got you covered.
                        Members are free to choose whichever activities they wish and can train to compete or just for fun.
                        Subscription is annual and grants access to book unlimited sessions in the Hurtlocker. 
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-5">
        <div class="col my-5">
            <h2>
                Activities
            </h2>
            {% if activity_list|length > 0 %}
            <div class="row">
                {% for activity in activity_list %}
                <div class="col-xl-3 col-md-4 col-sm-6 offset-sm-0 col-8 offset-2 mt-5">
                    <div class="card h-100 custom-card text-center custom-card p-3">
                        <h3 class="card-title">
                            {{ activity.activity_name|title }}
                        </h3>
                        {% if activity.image %}
                        <img class="club-activity-image" src="{{ activity.image.url }}" alt="Activity Image">
                        {% else %}
                        <img class="club-activity-image" src="https://via.placeholder.com/640x960.png?text={{ activity.name }}" alt="Activity Image">
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col p-3 text-center">
                <h2>Schedule</h2>
                {% for activity in activity_list %}
                    {% if not forloop.first %}
                    <hr>
                    {% endif %}
                    <h3 class=" text-left mx-5 mt-5 mb-2">
                    <strong>
                        <u>
                            {{ activity.activity_name|title }}
                        </u>
                    </strong>
                    </h3>
                    <div class="row row-cols-2 row-cols-md-4">
                        {% for booking_slot in booking_slots %}
                            {% if activity == booking_slot.activity %}
                                <div class="col mb-4">
                                    <div class="card custom-card h-100">
                                        <div class="card-body">
                                            <h3>
                                                {{ booking_slot.get_day_display }} 
                                            </h3>
                                            <p>
                                            <strong>
                                                {{ booking_slot.end_datetime|date:'d/m' }}
                                            </strong>
                                            </p>
                                            <p>
                                            <strong>
                                                {{ booking_slot.start_hour }} - {{ booking_slot.end_datetime.time }}
                                            </strong>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
    </div>
    {% if current_profile.is_subscribed %}
    <div class="p-2 mb-5">
        <a class="custom-btn m-0" href="{% url 'profile_page' current_profile.id %}" role="button" data-ripple-color="primary">
            View Your Profile <i class="fa-solid fa-user"></i>
        </a>
    </div>
    {% elif user.is_authenticated %}
    <div class="p-2 mb-5">
        <h2>Finish Creating Your Profile and Sign Up</h2> 
        <a class="custom-btn m-0" href="{% url 'membership_signup' %}" role="button" data-ripple-color="primary">
            Sign Up<i class="fa-solid fa-user-plus"></i>
        </a>
    </div>
    {% else %}
    <div class="p-2 mb-5">
        <a class="custom-btn m-0" href="{% url 'account_signup' %}" role="button" data-ripple-color="primary">
            Sign Up <i class="fa-solid fa-paper-plane"></i>
        </a>
    </div>
    {% endif %}
</div>

{% endblock %}